<ul class="category-filter">
    <li class="category selected-filter" id="All" onclick="filterUsingCategory('All')">
        {{site.data[page.lang].all}}
    </li>
    {% assign categories = site.categories  | sort %}
    {% for category in categories %}
    {% assign cat = category | first %}
    {% if cat != 'en' %}
    <li class="category" id="{{ cat }}" onclick="filterUsingCategory(this.id)">
        {{ cat }}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<div class="posts">
    {% assign id = 0 %}
    {% assign posts = paginator.posts %}
    {% for post in posts %}
    {% assign id = id | plus:1 %}
    <div class="post-teaser" id="{{id}}">
        <div class="card">
            <div class="card-body">
                {% if post.thumbnail %}
                <div class="post-img">
                    <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                        <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
                    </a>
                </div>
                {% endif %}
        <span>
          <header>
              <h4>
                  <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title }}
                  </a>
              </h4>
              {% include post_info.html author=post.author date=post.date %}
          </header>
          {% if site.excerpt or site.theme_settings.excerpt %}
              <div class="excerpt">
                  {% if site.excerpt == "truncate" %}
                  {{ post.content | strip_html | truncate: '50' | escape }}
                  {% else %}
                  {{ post.excerpt | strip_html | truncate: '150'| escape }}
                  {% endif %}
              </div>
          {% endif %}
      </span>
                <div>
                    {% assign postCats = post.categories | sort %}
                    {% for cat in postCats %}
                    <span class="badge">{{ cat }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    function filterUsingCategory(selectedCategory) {
        var id = 0,
                filter = document.getElementById(selectedCategory),
                selected =  document.getElementsByClassName("selected-filter");
        if(selected.length > 0){
            selected[0].classList.remove("selected-filter");
        }
        if(filter){
            filter.classList.add("selected-filter");
        }
        {% for post in site.posts %}
            var cats = {{ post.categories | jsonify }}

        var postDiv = document.getElementById(++id);
        postDiv.style.display =
                (selectedCategory == 'All' || cats.includes(selectedCategory))
                        ? 'inline-block'
                        : 'none';
        {% endfor %}
    }
</script>

{% include blog_nav.html %}
