<ul class="category-filter" aria-label="Filter posts by categories">
    <li class="category selected-filter" id="All" onclick="filterUsingCategory('All')">
        <button>{{site.data[page.lang].all}}</button>
    </li>
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% assign categories = site.categories %}
    {% for category in categories %}
    {% assign cat = category | first %}
    {% assign posts=site.posts | where:"lang", page.lang | where:"categories", cat %}
    {% assign sizePosts = posts | size %}

    {% if sizePosts > 0 and cat != "ro" %}
    <li class="category" id="{{ cat }}" onclick="filterUsingCategory(this.id)">
        <button>{{ cat }}</button>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<div class="posts">
    {% assign id = 0 %}
    {% assign posts=paginator.posts | where:"lang", page.lang %}
    {% assign sizePosts = posts | size %}
    {% for post in posts %}
    {% assign id = id | plus:1 %}
    <div class="post-teaser" id="{{id}}" data-lang="{{post.lang}}">
        <a class="card" aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
            <div class="card-body">
                {% if post.thumbnail %}
                <div class="post-img">
                    <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
                </div>
                {% endif %}
                <span>
                  <h2> {{ post.title }}</h2>
                {% include post_info.html author=post.author date=post.date %}
                {% if site.excerpt or site.theme_settings.excerpt %}
                <div class="excerpt">
                  {% if site.excerpt == "truncate" %}
                  {{ post.content | strip_html | truncate: '150' | escape }}
                  {% else %}
                  {{ post.excerpt | strip_html | escape }}
                  {% endif %}
              </div>
                {% endif %}
                </span>
                <div>
                    {% assign postCats = post.categories | sort %}
                    {% for cat in postCats %}
                    {% if cat != "ro" %}
                    <span class="badge">{{ cat }}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </a>
    </div>

    {% endfor %}

    {% if sizePosts == 0 %}
    {{ site.data[page.lang].posts_will_come }}
    {% endif %}

</div>

<script type="text/javascript">
    function filterUsingCategory(selectedCategory) {
        var id = 0,
                filter = document.getElementById(selectedCategory),
                selected =  document.getElementsByClassName("selected-filter");
        if(selected.length > 0){
            selected[0].classList.remove("selected-filter");
        }
        if(filter){
            filter.classList.add("selected-filter");
        }
         {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}
            var cats = {{ post.categories | jsonify }}
            console.log("cats", cats);
        var postDiv = document.getElementById(++id);
        postDiv.style.display =
                (selectedCategory == 'All' || cats.includes(selectedCategory))
                        ? 'inline-block'
                        : 'none';
        {% endfor %}
    }
</script>

{% include blog_nav.html %}
