<header class="site-header">
    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
        {% if page.lang =="en" %}
        {% capture link %}{{ '/' | relative_url  }}{% endcapture %}
        {% else %}
        {% capture link %}/ro{{ '/' | relative_url }}{% endcapture %}
        {% endif %}
		<a href="{{link}}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}
        <a class="site-title" aria-label="{{ site.title }}" href="{{link}}">
        {{ site.title }}
		</a>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->

    <ul class="hide">
        {% assign name_page = "" %}
        <li>
            {% if page.lang == "en" %}
            {% capture link %}{{ '/' | relative_url  }}{% endcapture %}
            {% else %}
            {% capture link %}/{{page.lang}}{{ '/' | relative_url  }}{% endcapture %}
            {% endif%}
            <a class="clear" aria-label="home" title="home" href="{{link}}">{{site.data[page.lang].home}}</a>
        </li>
        <li class="separator"> | </li>
        {% assign pages=site.pages | where:"lang", page.lang %}
        {% for page in pages %}
            {% unless page.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}" href="{{page.url | relative_url }}">
                    {% if page.icon %} <i class="fa {{ page.icon }}" aria-hidden="true"></i>
                    {% else %} {{site.data[page.lang][page.title]}}
                    {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
        {% endfor %}
    </ul>


	</nav>
</header>
