<div id="post-nav">
    <div id="previous-post">
    {% for post in site.posts %}
    {% if post.lang == page.lang %}
    {% if prev %}
    <a alt="{{ post.title }}" href="{{ post.url | relative_url }}">
        <p>{{ site.data[page.lang].str_previous_post | default: "Previous post" }}</p>
        {{ post.title }}
    </a>
    {% endif %}
    {% assign prev = false %}
    {% if post.id == page.id %}
    {% assign prev = true %}
    {% endif %}
    {% endif %}
    {% endfor %}
    </div>

    <div id="next-post">
    {% for post in site.posts reversed %}
    {% if post.lang == page.lang %}
    {% if next %}
    <a alt="{{ post.title }}" href="{{ post.url | relative_url }}">
        <p>{{site.data[page.lang].str_next_post | default: "Next post"}}</p>
        {{ post.title }}
    </a>
    {% break %}
    {% endif %}
    {% assign next = false %}
    {% if post.id == page.id %}
    {% assign next = true %}
    {% endif %}
    {% endif %}
    {% endfor %}
    </div>
</div>
