/* --- Header text feature --- */
.call-out {
  @extend %padding-header;
  display: inline-block;
  width: 100%;
  height: 300px;
  font-size: 1.2em;
  text-align: center;
  color: $header-text-color;
  background: $header-background-color no-repeat;
  background-size: $feature-image-size;
  background-position: 100% -50px 0% center top;

  /* --- Responsive --- */
  @media screen and (min-width: $break) {
    background-size: 120% auto;
     height: 500px;
  }

  //For white images
  p,
  a,
  li,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-family-logo;
    @extend .header-txt-shadow;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#main {
  background-position: 100% 0, 0 center, center top;
}

/* --- Post listing --- */
.posts {
 display: grid;
     grid-template-columns: 1fr;
     gap: 1rem;
     padding: 3%;
@media (min-width: $l-break) {
 grid-template-columns: 1fr 1fr;
  padding: 5%;
}
  .post-teaser {
    @extend %padding-post;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    /*border-bottom: 1px solid $border-color;*/

    p a {
      @extend .body-link;
    }

    .post-img {
      vertical-align: middle;
      border-radius: 10px;
      overflow: hidden;

      @media (min-width: $break) {
        height: 250px;
      }

      //Smaller screen
      @media screen and (max-width: $break) {
        height: 150px;
      }

      img {
        width: 100%;
        padding: 0;
        vertical-align: middle;
      }

    }

    .post-img img {
      -moz-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;

      -moz-transition: all 2s;
      -webkit-transition: all 2s;
      transition: all 2s;

      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .excerpt {
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.7;
  }


    @media screen and (max-width:$sm-break){

    }
    .post-teaser{
/*      flex: 0 0 50%;
      max-width: 45%;*/
      padding: 15px 15px 15px 15px;
      @media screen and (max-width: $break) {
       padding: 0%;
        max-width: 100%;
      }

      .card{
        display: flex;
        flex-direction: column;
        min-width: 0;
        background-color: #ffffff;
        background-clip: border-box;
       box-shadow:  0 15px 35px rgba(50,50,93,0.1),0 5px 15px rgba(0,0,0,0.07) !important;
        border-radius: 0.25rem;
        min-height: 250px;
      }
      .card-body{
        padding: 1.5rem;
      }
      .badge{
        display: inline-block;
        padding: .35rem .375rem;
        font-size: 66%;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        padding-right: .875em;
        padding-left: .875em;
        text-transform: uppercase;
        border-radius: 10rem;
        color: #555;
        background-color: rgba(222,222,222,0.5);
      }
    }
}
.category-filter{
  display: flex;
  list-style: none;
  padding: 3% 9%;
  margin-left: 0;
  li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    &.selected-filter{
      color: $selection-color;
    }
    &.category{
      text-transform: uppercase;
    }
  }
}
